@model IEnumerable<MyRentedCarsViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Car</th>
            <th>Rented on:</th>
            <th>Rent ends on:</th>
            <th>Total price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@($"{car.Brand} {car.CarModel}")</td>
                <td>@car.Start</td>
                <td>@car.End</td>
                <td>@car.TotalPrice</td>
                <td>
                    <form asp-action="End" asp-controller="Rental" asp-route-id="@car.Id" method="post">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to end your rent?');">End rent</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>