@model IEnumerable<MyRentedCarsViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Car</th>
            <th>Rent starts on:</th>
            <th>Rent ends on:</th>
            <th>Total price</th>
            <th>Pick Up Location</th>
            <th>Drop Off Location</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rent in Model)
        {
            <tr>
                <td>@($"{rent.Brand} {rent.CarModel}")</td>
                <td>@rent.Start</td>
                <td>@rent.End</td>
                <td>@rent.TotalPrice</td>
                <td>@rent.PickUp</td>
                <td>@rent.DropOff</td>
                <td><a asp-action="Edit" asp-controller="Rental" asp-route-id="@rent.RentalId" class="btn btn-success">Edit</a></td>
                <td>
                    <form asp-action="End" asp-controller="Rental" asp-route-id="@rent.RentalId" method="post">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to end your rent?');">End rent</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>