@model RentCarFormViewModel

<form method="post">
	<div class="mb-3">
		<label asp-for="@Model.PickUp" class="form-label">Pick Up Location</label>
		<select asp-for="@Model.PickUp" class="form-control" required">
			@foreach (var city in Model.Cities)
			{
				<option value="@city">@city</option>
			}
		</select>
		<span asp-validation-for="@Model.PickUp" class="text-danger"></span>	
	</div>

	<div class="mb-3">
		<label asp-for="@Model.DropOff" class="form-label">Drop Off Location</label>
		<select asp-for="@Model.DropOff" class="form-control" required">
			@foreach (var city in Model.Cities)
			{
				<option value="@city">@city</option>
			}
		</select>
		<span asp-validation-for="@Model.DropOff" class="text-danger"></span>	
	</div>

	<div class="mb-3">
		<label asp-for="@Model.Start" class="form-label">Start Date</label>
		<input asp-for="@Model.Start" class="form-control" required" />
		<span asp-validation-for="@Model.Start" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="@Model.End" class="form-label">End Date</label>
		<input asp-for="@Model.End" class="form-control" required" />
		<span asp-validation-for="@Model.End" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-success">Finish</button>
</form>