@using System.Security.Claims
@model IEnumerable<ReviewAllViewModel>

<style>
	.review-container {
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 10px;
		margin-bottom: 15px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	}

		.review-container h3 {
			margin-top: 0;
			margin-bottom: 5px;
			color: #333;
		}

		.review-container p {
			margin: 0;
		}

	.review-rating {
		color: #FFC107;
		font-size: 18px;
		margin-bottom: 5px;
	}
</style>

<partial name="_Notification" />

@if (Model.Any())
{
	@foreach (var review in Model)
	{
		<div class="review-container">
			<div class="d-flex justify-content-between align-items-start">
				<p class="review-rating">Rating: @review.Rating</p>
				@if (review.ReviewerId == User.Id())
				{
					<div class="d-flex align-items-center">
						<a asp-action="Edit" asp-controller="Review" asp-route-id="@review.Id">
							<i class="fas fa-pencil-alt" style="color: green"></i>
						</a>
						<form asp-action="Remove" asp-controller="Review" asp-route-id="@review.Id" method="post">
							<button type="submit" class="btn" onclick="return confirm('Are you sure you want to delete your review?');">
								<i class="fas fa-trash" style="color: red"></i>
							</button>
						</form>
					</div>
				}
			</div>
			<div class="fw-bold mb-2">
				<p>@review.Comment</p>
			</div>
			<div>
				<i>- @review.UserEmail</i>
			</div>
		</div>
	}
	<div class="text-center">
		<a asp-action="Add" asp-controller="Review" asp-route-id="@Convert.ToInt32(ViewData["carId"])" class="btn btn-success">Add review</a>
	</div>

}
else
{
	<div class="container d-flex justify-content-center align-items-center vh-100">
		<div class="text-center" style="margin-bottom: 200px;">
			<h1>There are not any reviews for this car yet!</h1>
			<a asp-action="Add" asp-controller="Review" asp-route-id="@Convert.ToInt32(ViewData["carId"])" class="btn btn-success">Add the first one!</a>
		</div>
	</div>
}